<!DOCTYPE html>
<html>
<body>

Count: <label id="count"></label>

<p id="demo"></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
  function createCountSource() {
    var source = new EventSource("http://localhost:8082/post/5f459a5d1290a4007a8476c0/subscribe");
    source.addEventListener('message', function (e) {
      var body = JSON.parse(e.data);
	  console.log('body', body)
      $("#count").text(body.content);
      // You can close the re-connection attempt
      // if(body === 5)
      //     source.close();
    }, false);

    return source;
  }

  $(document).ready(function () {
    source = createCountSource();
  });
</script>

</body>
</html>